  <legend style="text-align: center;">Formularz rejestracyjny</legend>
  <form #userForm="ngForm" (submit)="register(formDirective)" #formDirective="ngForm">
      <div class="form-group row">
        <label for="email" class="col-2 offset-2 col-form-label">Email</label> 
        <div class="col-6">
          <input id="email" name="email" placeholder="example@exp.com" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" required [(ngModel)]="user.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
          <small class="text-danger"
          *ngIf="email.touched && email.invalid">Adres email jest niepoprawny
          </small>
        </div>        
      </div>
      
      <div class="form-group row">
        
          <label for="password" class="col-2 offset-2 col-form-label">Hasło</label> 
          <div class="col-6">
            <show-hide-password size="m" btnStyle="primary" [btnOutline]="false">
              <input id="password" minlength="6" name="password" type="password" class="form-control" required [(ngModel)]="user.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            </show-hide-password>
            <small class="text-danger"
              *ngIf="password.touched && password.invalid">Hasło musi posiadać co najmniej 6 znaków
            </small> 
          </div>
        
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-2 offset-2 col-form-label">Imię</label> 
        <div class="col-6">
          <input id="firstname" name="firstname" placeholder="np. Adam" type="text" class="form-control" required [(ngModel)]="user.firstname" #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched">
          <small class="text-danger"
              *ngIf="firstname.touched && firstname.invalid">Imie jest wymagane
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="Nazwisko" class="col-2 offset-2 col-form-label">Nazwisko</label> 
        <div class="col-6">
          <input id="lastname" name="lastname" placeholder="np. Kowalski" type="text" class="form-control" required [(ngModel)]="user.lastname" #lastname="ngModel" [class.is-invalid]="lastname.invalid && lastname.touched">
          <small class="text-danger"
              *ngIf="lastname.touched && lastname.invalid">Nazwisko jest wymagane
          </small>
        </div>
      </div> 
      <div class="form-group row">
        <div class="col-md-4 offset-4">
          <button id="submit" name="submit" class="btn btn-primary" type="submit">Zarejestruj</button>
        </div>
      </div>
  </form>
